<div class="row">
  <div class="col-lg-12 fin-comp-head">
    <h2>Company Finance Operations</h2>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 serch-add">
        <input type="text" placeholder="Serch">
        <input type="button" value="Add new position" class="btn">
      </div>
      <div class="col-lg-12">
        <div class="row comp-table-head">
          <div class="col"><p>Date</p></div>
          <div class="col"><p>Subscript</p></div>
          <div class="col"><p>Cost</p></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row comp-table-body">
          <div class="col"><p></p></div>
          <div class="col"><p></p></div>
          <div class="col"><p></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
