<div class="row">
  <div class="col-lg-12 fin-comp-head">
    <h2>Company Finance Operations</h2>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 serch-add">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col-4 serch-field">
                <input type="text" placeholder="Serch" [(ngModel)]="term">
              </div>
              <div class="col filter-by-date">
                <label>Start date:</label>
                <input type="text"
                  name="filter-by-date-input"
                  class="filter-by-date-input"
                  placeholder="Date from"
                  bsDatepicker
                  [maxDate]="endDate"
                  [(ngModel)]="startDate"
                >
                <label>End date:</label>
                <input type="text"
                       name="filter-by-date-input"
                       class="filter-by-date-input"
                       placeholder="Date to"
                       bsDatepicker
                       [maxDate]="today"
                       [(ngModel)]="endDate"
                >
              </div>
            </div>
          </div>
          <div class="col-2 add-new-btn">
            <input type="button" value="Add new position" class="btn" (click)="hideAddNew()">
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="addNewBlock">
        <form [formGroup]="newTransactForm" (ngSubmit)="onSubmin(newTransactForm.value)">
          <div class="row add-new-transact">
            <div class="col-12 transact-holder">
              <label>Describe you`r operation: </label>
              <textarea placeholder="Describe" formControlName="description"></textarea>
            </div>
            <div class="col-2 price-holder">
              <label for="price">Price: </label>
              <input id="price" type="text" placeholder="price" formControlName="amount">
              <label for="price"> UAH</label>
            </div>
            <div class="col date-picker-holder">
              <label>Date of operation:</label>
              <input type="text"
                     class="form-control"
                     placeholder="Tap to set date"
                     formControlName="transdate"
                     bsDatepicker
                     [maxDate]="today"
              >
            </div>
            <div class="col save-btn-holder">
              <input [disabled]="newTransactForm.invalid"  type="submit" value="Save" class="btn">
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <div class="row comp-table-head">
          <div class="col-6 left-pos"><p>Transaction:</p></div>
          <div class="col-3"><p>Amount:</p></div>
          <div class="col"><p>Date of operation:</p></div>
          <div class="col"><p>Date of publication:</p></div>
        </div>
      </div>
      <div class="col-lg-12" *ngFor="let operation of operationList | dateFilter: startDate : endDate | finCompany: term">
        <div class="row comp-table-body">
          <div class="col-6 left-pos"><p>{{operation.description}}</p></div>
          <div class="col-3 center-pos"><p>{{operation.amount + ' UAH'}}</p></div>
          <div class="col center-pos"><p>{{operation.transdate | date: 'dd.MM.yyyy'}}</p></div>
          <div class="col center-pos"><p>{{operation.postdate | date: 'dd.MM.yyyy'}}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
