
.search-add {
  display: flex;
  justify-content: space-between;
  .row {
    width: 100%;
    .search-field {
      display: flex;
      align-items: center;
      input {
        height: 38px;
        width: 100%;
      }
      margin-bottom: 30px;
    }
  }

  .add-new-btn {
    display: flex;
    justify-content: flex-end;
    input[type="button"] {
      height: 50px;
      background-color: #495b6c;;
      color: white;
    }
  }

  .filter-by-date {
    display: flex;
    align-items: center;
    label {
      padding: 5px;
      margin: 0;
    }
    .filter-by-date-input {
      margin-right: 10px;
      width: 150px;
      height: 30px;
    }
  }


}

.comp-table-head {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.center-pos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    margin: 0;
  }
}

.left-pos {
  text-align: left;
  display: flex;
  align-items: center;
  p {
    margin: 8px;
  }
}

.comp-table-body {
  border-top: 1px solid #d0cfcf;

  .publicate-date-field {
    position: relative;
    i {
      font-size: 18px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
      cursor: pointer;
      &:hover {
        color: rgba(247, 147, 30, 0.95);
      }
    }
  }
}

.add-new-transact {
  padding: 20px 0px;

  .price-holder {
    display: flex;
    align-items: center;
    label {
      margin: 0;
      padding-right: 10px;
    }
    input {
      width: 40%;
    }
  }

  .transact-holder {
    textarea {
      width: 100%;
    }
  }

  .date-picker-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;

    label {
      padding: 10px;
    }
  }


  .save-btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
  }
}



@media(max-width: 350px) {
  .add-new-btn {
    input {
      font-size: 3vw;
    }
  }
  .transact-holder {
    padding: 10px;
  }
}
