<div class="row">
  <div class="form page-head">
    <div class="form-group col-md-12 serch-add">
      <input class="form-control serch" placeholder="Search" [(ngModel)]="term">
      <div>
        <button (click)="router.navigate(['crud-user/time-off-list'])" class="btn add-user">Time-off list</button>
        <input type="button" value="Add New User" class="btn add-user"
               (click)="router.navigate(['crud-user/user-add'])">
      </div>
    </div>
  </div>

  <div class="col-lg-12 user-table">
    <div class="row">
      <div class="col-lg-12 table-head">
        <div class="row">
          <div class="col-6 col-sm"><p>Full name</p></div>
          <div class="col-6 col-sm"><p>E-mail</p></div>
          <div class="col-6 col-sm"><p>Phone number</p></div>
          <div class="col-6 col-sm"><p>Birthday</p></div>
          <div class="col-6 col-sm"><p>Position</p></div>
          <div class="col-6 col-sm"><p>Action</p></div>
        </div>
      </div>
      <div class="col-lg-12 table-body" *ngFor="let user of userList | usersFilter:term">
        <div class="row user-interpolation" *ngIf="user.isActive">
          <div class="col-6 col-sm user-data">
            <span (click)="goUserVacation(user)">{{user.name + " " + user.surname}}</span>
          </div>
          <div class="col-6 col-sm user-data"><p>{{user.email}}</p></div>
          <div class="col-6 col-sm user-data"><p>{{user.phone}}</p></div>
          <div class="col-6 col-sm user-data"><p>{{user.birthday}}</p></div>
          <div class="col-6 col-sm user-data"><p>{{user.position}}</p></div>
          <div class="col-6 col-sm user-data"><i class="fas fa-pen" (click)="onSelect(user)"></i> <i
            class="fas fa-trash-alt" (click)="removeUser(user)"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
