
<div class="form page-head">
  <div class="form-group col-md-12 serch-add">
    <input class="form-control serch" placeholder="Search" [(ngModel)]="term">
    <div>
      <button (click)="router.navigate(['crud-user/time-off-list'])" class="btn add-user">Time-off list</button>
      <button (click)="router.navigate(['crud-user/user-time-off'])" class="btn add-user">User-Add dayOff</button>

      <input type="button" value="Add New User" class="btn add-user"
             (click)="router.navigate(['crud-user/user-add'])">
    </div>
  </div>
</div>
<hr>
