<div class="container">
  <div class="form">
    <h2>Search</h2>
    <div class="form-group col-md-12">
      <input class="form-control" placeholder="Search">
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone number</th>
      <th scope="col">Role</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>+380939858190</td>
      <td>user</td>
      <td>trainee Java Developer</td>
      <td></td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>larry@gmail.com</td>
      <td>+380939858191</td>
      <td>user</td>
      <td>trainee Java Developer</td>
      <td></td>
    </tr>
    <tr>
      <td>Stive</td>
      <td>stive@gmail.com</td>
      <td>+380939858192</td>
      <td>user</td>
      <td>trainee Java Developer</td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>
