.edit-user-form{
  form {
    width: 100% ;

    .edit-input-box {
      padding: 20px;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        padding-right: 10px;
      }
    }

    .btn-holder {
      text-align: center ;
      button {
        background: #495b6c;
        margin: 0 auto;
        font-size: 16px;
        color: #f9f9f9;
        padding: 10px 40px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
