<form [formGroup]="addInCount" (ngSubmit)="send(addInCount.value)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter page`s name " required>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Choose page</legend>
      <div class="col-sm-10">
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="radioBut" id="gridRadios1" formControlName="radioBut"
                 (click)="changeValue(true)"
                 value="subPage" checked>
          <label class="form-check-label" for="gridRadios2">
            Subpage
          </label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="radioBut" id="gridRadios2" formControlName="radioBut"
                 (click)="changeValue(false)"
                 value="mainPage">
          <label class="form-check-label" for="gridRadios1">
            Main page
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div *ngIf="isValid">
    <div class="form-group">
      <label>Level</label>
      <select class="custom-select" formControlName="level" required>
        <option value="">Select level</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group">
      <label>Select page (subpage)</label>
      <select class="custom-select" formControlName="selectSubPages" required>
        <option value="">Select page</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>


  <div class="form-group ">
    <label>Count</label>
    <input type="number" class="form-control" placeholder="Enter count of textarea" formControlName="count"
           (change)="consoleValue()">
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group " *ngFor="let item of ArrayInputs.arr1">
        <label for="exampleFormControlTextarea1">Text in page</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="{{item}}"
                  placeholder="{{item}}"></textarea>
      </div>
    </div>

    <div class=" col-lg-6">
      <div class=" inr form-group" *ngFor="let item of ArrayInputs.arr2">
        <label>Position</label>
        <select class="custom-select" formControlName="{{item}}" required>
          <option value="">Select position</option>
          <option value="1">Column 1</option>
          <option value="2">Column 2</option>
          <option value="3">Column 3</option>
          <option value="4">Column 2&3</option>
          <option value="5">Column 1&2</option>
          <option value="6">Column 1&2&3</option>
        </select>
      </div>
    </div>
  </div>
</form>

<button type="submit" class="btn btn-primary" (click)="onClick()" *ngIf="checkSub">Submit</button>
