<!--<div class="row crud-main-page">-->
  <!--<div class="col-lg-6">-->
    <!--<div class="row block-padding">-->
      <!--<div class="add-menu-search-h col-lg-12">-->
        <!--<h2>Search</h2>-->
      <!--</div>-->
      <!--<div class="col-lg-12 add-menu-search-i">-->
        <!--<i class="fas fa-search"></i>-->
        <!--<input type="text" placeholder="Enter what you want to find" class="form-control">-->
      <!--</div>-->
      <!--<div class="col-lg-12 add-new-page-h">-->
        <!--<h2>Add menu Item</h2>-->
      <!--</div>-->
      <!--<form [formGroup]="addNewPageForm" (ngSubmit)="onSubmit()" class="add-new-page-form">-->
        <!--<div class="col-lg-12 add-new-page-i">-->
          <!--<p>Label</p>-->
          <!--<input type="text" formControlName="label">-->
          <!--<p>Parent menu</p>-->
          <!--<select name="prent-menu-select" id="prent-menu-select" formControlName="parentMenu">-->
            <!--<option value=""></option>-->
          <!--</select>-->
          <!--<p>URL</p>-->
          <!--<input type="text" formControlName="url">-->
        <!--</div>-->
        <!--<div class="col-lg-12">-->
          <!--<input type="checkbox" name="active" id="active-page" formControlName="activePage">-->
          <!--<label for="active-page">Active</label>-->
        <!--</div>-->
        <!--<input type="submit" value="Save" class="add-new-page-save-btn">-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-lg-6">-->
    <!--<div class="row block-padding">-->
      <!--<div class="col-lg-12 menu-list-h">-->
        <!--<h2>Menu List</h2>-->
      <!--</div>-->
      <!--<div class="menu-list-ul">-->
        <!--<ul>-->
          <!--<li>SERVICES <i class="edit fa fa-pencil-alt"></i> <i class="delete fa fa-times"></i></li>-->
          <!--<li>COMPANY</li>-->
          <!--<li>TEAM</li>-->
          <!--<li>PROJECTS</li>-->
          <!--<li>CONTACT US</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="row crud-main-page">
  <div class="col-lg-8">
    <h1>About</h1>
    <div class="textinfo">
      <h3>Name`s subpages</h3>
      <div>

      </div>
    </div>
    <button  class="btn btn-light">Edit</button>
    <button  class="btn btn-light">Delete</button>
  </div>
  <div class="col-lg-4">
    <h1>Pages</h1>
  </div>

</div>

