/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main';

html body {
  height: 100%;
}

body {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

app-root {
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
}


