<div class="container">
  <div class="formAddUser">
    <h2>Add New User</h2>
    <div class="form-row row">
      <div class="form-group col-md-4">
        <label>Person</label>
        <input type="name" class="form-control" placeholder="Person">
      </div>
      <div class="form-group col-md-4">
        <label>Role</label>
        <input type="role" class="form-control"  placeholder="Role">
      </div>
      <div class="form-group col-md-4">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Additional information</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-light">Save</button>
  </div>
</div>


