<footer>
  <div class="container footer-content">
    <div class="row footer-first-row" >
      <div class="col-lg-6 footer-social">
        <p class="footer-label">SOCIAL MEDIA</p>
        <ul>
          <li class="footer-social-item"><a href="" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li class="footer-social-item"><a href="" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
          <li class="footer-social-item"><a href="" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          <li class="footer-social-item"><a href="" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>
          <li class="footer-social-item"><a href="" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 contact-info">
        <p class="contact-info-h">CONTACT US</p>
        <ul>
          <li><a href="">onperatech@gmail.com</a><i class="fa fa-envelope"></i></li>
          <li><a href="">+38 (095) 845-06-74</a><i class="fa fa-phone"></i></li>
          <li>Shevchenka St, 80A<i class="far fa-building"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>2017 © Onpera Technologies. All Rights Reserved.</p>
    <a href="#">Privacy Policy & Terms of Use</a>
  </div>
</footer>
